<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>About Us</h1>
    <p>Ha Noi University - One love, One future</p>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
